* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}
.user {
  padding: 2px;
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 0px 0px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.avatar {
  display: flex;
}
.avatar img {
  border-radius: 50%;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.name {
  font-size: x-large;
}
.email {
  font-size: medium;
}
.pages {
  display: flex;
  margin-bottom: 5px;
  font-size: 1.5rem;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 0px 0px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.pages button {
  border: none;
  background: transparent;
  padding: 2px;
  font-size: 1rem;
  cursor: pointer;
}
.pages p {
  padding: 0px 10px;
}
